<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Trung Le | trungle.me</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {{content-for "head"}}
    <!-- <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400%7CRaleway:300,400,500,600,700%7CLato:300,400,400italic,600,700" rel="stylesheet" type="text/css" /> -->
    <link rel="stylesheet" href="assets/vendor.css">
    <link rel="stylesheet" href="assets/frontend.css">

    {{content-for "head-footer"}}
  </head>
  <body class="bg-grey">
    {{content-for "body"}}

    <script src="assets/vendor.js"></script>
    <script src="assets/frontend.js"></script>

    {{content-for "body-footer"}}
  </body>
</html>
