<!-- POST ITEM -->
<div class="blog-post-item {{unless post.is_active 'inactive'}}">
  {{{post.gallery_section}}}
  <div class="post-body">
    <h2>
      {{#link-to 'posts.show' post.id }}
        {{post.title}}
      {{/link-to}}
      {{#unless post.is_active }}
        <span class="font-lato">(Draft)</span>
      {{/unless}}
    </h2>

    <ul class="blog-post-info list-inline">
      <li>
        <a href="javascript:;">
          <i class="fa fa-clock-o"></i>
          <span class="font-lato">{{moment-format post.created_at}}</span>
        </a>
      </li>
      <!-- <li>
        <a href="javascript:;">
          <i class="fa fa-clock-o"></i>
          <span class="font-lato">{{disqus-comment-count identifier=post.title}}</span>
        </a>

      </li> -->
      <li>
        {{{post.logo_tags}}}
      </li>

      {{#if session.isAuthenticated }}
      <li>
        {{#link-to 'posts.edit' post.id}}
          <i class="fa fa-edit"></i>
          <span class="font-lato">Edit</span>
        {{/link-to}}
      </li>
      {{/if}}

    </ul>

    <p>{{{post.abstract}}} {{#link-to 'posts.show' post.id class='btn btn-primary btn-xs'}}Read more...{{/link-to}}</p>

  </div>

</div>
<!-- /POST ITEM -->
