<!-- Form -->
<form {{action 'post_comment' on="submit"}}>

  <div class="row">
    <div class="form-group">
      <div class="col-md-12">
        <label>NAME</label>
        {{input type='text' value=comment.author class='form-control input-lg' id='author' placeholder="Guest"}}
        <!-- <input required="required" placeholder="Guest" type="text" value="" maxlength="100" class="form-control input-lg" name="author" id="author"> -->
      </div>
    </div>
  </div>

  <div class="row">
    <div class="form-group">
      <div class="col-md-12">
        <label>COMMENT</label>
        {{textarea value=comment.content rows='5' class='form-control' id='comment' placeholder='Post something...'}}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">

      <button class="btn btn-3d btn-reveal btn-primary">
        <i class="fa fa-check"></i>
        <span>COMMENT AS {{if comment.author comment.author 'Anomynous'}}</span>
      </button>

    </div>
  </div>

</form>
<!-- /Form -->
