<div class="{{if nested 'comment-item' 'media'}}">

  <!-- user-avatar -->
  <span class="user-avatar">
          <img class="pull-left media-object" src="assets/images/avatar.png" width="64" height="64" alt="">
        </span>

  <div class="media-body">
    {{#if nested}}
      <a href="javascript:;" class="scrollTo comment-reply" {{action 'show_reply_box' on='click'}}>reply</a>
    {{/if}}
    <h4 class="media-heading bold">{{comment.author}}</h4>
    <small class="block">{{moment-format comment.created_at}}</small> {{{comment.content}}}
    {{#if show_reply}}
      <div class="media">
        <form class="margin-bottom-0" {{action 'post_reply' comment on="submit"}}>
          <div class="row margin-bottom-10">
            <div class="form-group">
              <div class="col-md-12">
                {{textarea value=reply.content rows='2' class='form-control' placeholder='Reply a comment...'}}
              </div>
            </div>
          </div>
          <div class="row margin-bottom-10">
            <div class="col-md-12 text-right">
              <a href="javascript:;" class="btn btn-xs btn-reveal btn-default" {{action 'hide_reply_box' on='click'}}><i class="fa fa-close"></i><span>Close</span></a>
              <button class="btn btn-xs btn-reveal btn-primary"><i class="fa fa-check"></i><span>Reply</span></button>
            </div>
          </div>
        </form>
      </div>
    {{/if}}
    {{#if nested}}
      {{#each comment.replies as |rep|}}
          {{comment-item comment=rep nested=false}}
      {{/each}}
    {{/if}}
  </div>
</div>
