<div id="header" class="header-sm clearfix">

  <!-- TOP NAV -->
  <header id="topNav">
    <div class="container">
      <!-- Mobile Menu Button -->
      <button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
        <i class="fa fa-bars"></i>
      </button>

      <!-- Logo -->
      {{#link-to 'posts' class='logo pull-left'}}
        <!-- <img src="assets/images/logo_dark.png" alt="" /> -->
        <h3 class="header-brand">trungle</h3>
      {{/link-to}}
      <!--
        Top Nav

        AVAILABLE CLASSES:
        submenu-dark = dark sub menu
      -->
      <div class="navbar-collapse pull-right nav-main-collapse collapse">
        <nav class="nav-main">


          <ul id="topMain" class="nav nav-pills nav-main">
            <li><!-- About -->
              <!-- <a href="javascript:;" class="slidetop-toggle">About me</a> -->
              {{#link-to 'about'}}ABOUT ME{{/link-to}}
            </li>
            {{#if session.isAuthenticated}}
            <li>
              {{#link-to 'posts.new'}}NEW POST{{/link-to}}
            </li>
            <li>
              <a {{action 'invalidateSession'}}>LOGOUT</a>
            </li>
            {{/if}}
          </ul>

        </nav>
      </div>

    </div>
  </header>
  <!-- /Top Nav -->

</div>
