<hr>
<!-- SOCIAL ICONS -->
<div class="hidden-xs margin-top-30 margin-bottom-60 text-center">
  <a href="#" class="social-icon social-icon-border social-facebook pull-left" data-toggle="tooltip" data-placement="top" title="" data-original-title="Facebook">
    <i class="icon-facebook"></i>
    <i class="icon-facebook"></i>
  </a>

  <a href="#" class="social-icon social-icon-border social-twitter pull-left" data-toggle="tooltip" data-placement="top" title="" data-original-title="Twitter">
    <i class="icon-twitter"></i>
    <i class="icon-twitter"></i>
  </a>

  <a href="#" class="social-icon social-icon-border social-gplus pull-left" data-toggle="tooltip" data-placement="top" title="" data-original-title="Google plus">
    <i class="icon-gplus"></i>
    <i class="icon-gplus"></i>
  </a>

  <a href="#" class="social-icon social-icon-border social-linkedin pull-left" data-toggle="tooltip" data-placement="top" title="" data-original-title="Linkedin">
    <i class="icon-linkedin"></i>
    <i class="icon-linkedin"></i>
  </a>

  <a href="#" class="social-icon social-icon-border social-rss pull-left" data-toggle="tooltip" data-placement="top" title="" data-original-title="Rss">
    <i class="icon-rss"></i>
    <i class="icon-rss"></i>
  </a>
</div>
