<footer id="footer">

	<div class="copyright">
		<div class="container">
			<!-- <ul class="pull-right nomargin list-inline mobile-block">
							<li><a href="#">Terms &amp; Conditions</a></li>
							<li>•</li>
							<li><a href="#">Privacy</a></li>
						</ul> -->
			© All Rights Reserved, Trung Le
		</div>
	</div>

</footer>
