{{{post.gallery_section}}}
<div class="post-body">
  <h1 class="blog-post-title">{{post.title}}</h1>

  <ul class="blog-post-info list-inline">
    <li>
      <a href="javascript:;">
        <i class="fa fa-clock-o"></i>
        <span class="font-lato">{{moment-format post.created_at}}</span>
      </a>
    </li>
    <!-- <li>
      <i class="fa fa-folder-open-o"></i>

      <a class="category" href="javascript:;">
        <span class="font-lato">{{post.category.name}}</span>
      </a>

    </li> -->
    <li>
      {{{post.logo_tags}}}
    </li>
  </ul>

  <p>
    {{{post.body}}}
  </p>


  <div class="heading-title heading-dotted margin-top-20 margin-bottom-20">
  	<h4><i class="fa fa-tags"></i> Tags</h4>
  </div>


  <!-- TAGS -->
  {{#each post.tag_counts as |tag|}}
    {{#link-to 'tags' tag.name class='tag'}}
      <span class="txt">{{tag.name}}</span>
      <span class="num">{{tag.taggings_count}}</span>
    {{/link-to}}
  {{/each}}

</div>

{{yield}}
