{{#if isReview }}

  {{#post-show post=item}}
    <div class="divider"><!-- divider --></div>
    <div class="row">
      <div class="col-md-12 text-center">
        {{#if item.is_active }}
        <button type="button" class="btn btn-3d btn-xlg btn-danger" {{action 'saveItem' item false}}>
          UNPUBLISH
          <span class="block font-lato">Bring it down first!</span>
        </button>
        {{else}}
        <button type="button" class="btn btn-3d btn-xlg btn-warning" {{action 'reviewPost' false}}>
          EDIT {{item.title}}
        </button>
        {{/if}}
      </div>
    </div>
  {{/post-show}}
{{else}}
  <div class="panel panel-default">
    <div class="panel-heading panel-heading-transparent">
      <h2 class="panel-title">{{title}}</h2>
    </div>

    <div class="panel-body">

      <form class="validate" novalidate="novalidate">
        <fieldset>

          <div class="row">
            <div class="form-group">
              <div class="col-md-12 col-sm-12">
                <label>Gallery Section</label>
                {{#textarea rows="2" class="form-control required" value=item.gallery_section}}{{/textarea}}
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group">
              <div class="col-md-12">
                <label>Title *</label>
                {{input value=item.title type="text" class="form-control required"}}
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group">
              <div class="col-md-12 col-sm-12">
                <label>Abstract *</label>
                {{#textarea rows="2" class="form-control required" value=item.abstract}}{{/textarea}}
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group">
              <div class="col-md-12 col-sm-12">
                <label>Logo Tags</label>
                {{#textarea rows="2" class="form-control required" value=item.logo_tags}}{{/textarea}}
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group">
              <div class="col-md-12 col-sm-12">
                <label>Body *</label>
                <!-- {{textarea value=item.body rows="10" class="form-control markdown required "}} -->
                {{summer-note height=contentHeight btnSize=bs-sm content=item.body airMode=false focus=false header="Example" disabled=editingDisabled disabledOptions=disabledOptions}}

              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group">
              <div class="col-md-12 col-sm-12">
                <label>
                  Tags
                  <small class="text-muted">- Separate with comma " , "</small>
                </label>
                {{input type="text" placeholder="ruby on rails, javascript, html, css..." class="form-control" value=item.tag_list}}
              </div>
            </div>
          </div>

          <div class="row">
            <div class="form-group">
              <div class="col-md-12 col-sm-12">
                <label>Category *</label>
                {{#x-select id="tag-type-select" class="form-control pointer required" value=item.category_id}}
                  {{#x-option value=null}}--- Select ---{{/x-option}}
                  {{#each categories as |cate|}}
                    {{#x-option value=cate.id}}{{cate.name}}{{/x-option}}
                  {{/each}}
                {{/x-select}}
              </div>
            </div>
          </div>



        </fieldset>

        <div class="row">
          <div class="col-md-12 text-center">
            <button type="button" class="btn btn-3d btn-xlg btn-warning" {{action 'saveItem' item false}}>
              SAVE AS DRAFT
              <span class="block font-lato">Will continue later</span>
            </button>
            <button type="button" class="btn btn-3d btn-xlg btn-blue" {{action 'reviewPost' true}}>
              PREVIEW
              <span class="block font-lato">See how will it look?</span>
            </button>
            <button type="button" class="btn btn-3d btn-xlg btn-primary" {{action 'saveItem' item true}}>
              PUBLISH
              <span class="block font-lato">Go to public!</span>
            </button>
          </div>
        </div>

      </form>
    </div>
  </div>
{{/if}}
