<!-- side navigation -->
<div class="side-nav margin-bottom-60">

  <div class="side-nav-head">
    <button class="fa fa-bars"></button>
    <h4>Categories</h4>
  </div>
  <ul class="list-group list-group-bordered list-group-noicon">
    {{#each categories as |cate|}}
      <li class="list-group-item">
        {{#link-to 'categories.show' cate.slug}}
          <span class="size-11 text-muted pull-right">({{cate.posts_count}})</span>{{cate.name}}
        {{/link-to}}
      </li>
    {{/each}}

  </ul>
  <!-- /side navigation -->

</div>
