<!-- wrapper -->
<div id="wrapper">

  {{main-header}}

  {{#if renderNoTemplate}}
    {{outlet}}
  {{else}}

  {{outlet 'pageHeader'}}


  {{#if layout}}
    {{partial layout}}
  {{else}}
    {{partial 'layouts/default'}}
  {{/if}}


  {{/if}}

  {{page-footer}}

</div>
<!-- /wrapper -->


<!-- SCROLL TO TOP -->
{{#to-top}}
  <a href="javascript:;" id="toTop"></a>
{{/to-top}}
