<section id="slider" class="fullheight" style="height: 300px;">
<br>
				<div class="display-table">
					<div class="display-table-cell vertical-align-middle">
						<div class="container">

							<div class="row">
								<div class="text-center col-md-8 col-xs-12 col-md-offset-2">

									<h1 class="fa fa-fire size-80 theme-color hidden-xs"></h1>
									<h2><strong>500 Internal Server Error</strong></h2>

									<p>The Web server (running the Web Site) encountered an unexpected condition that prevented it from fulfilling the request by the client (e.g. your Web browser or our CheckUpDown robot) for access to the requested URL.</p>

								</div>
							</div>

						</div>
					</div>
				</div>

			</section>
