<section>
				<div class="container">

					<div class="row">

						<!-- LEFT TEXT -->
						<!-- <div class="col-md-5 col-md-offset-1">

							<h2 class="size-16">Author Section</h2>
							<p class="text-muted">Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa.</p>
							<p class="text-muted">Sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa.</p>

						</div> -->
						<!-- /LEFT TEXT -->

						<!-- ALERT -->
						{{#if errorMessage}}
							<div class="alert alert-mini alert-danger margin-bottom-30">
								<p>{{errorMessage}}</p>
							</div><!-- /ALERT -->
						{{/if}}


						<!-- LOGIN -->
						<div class=" col-md-offset-4 col-md-4">

							<h2 class="size-16">LOGIN</h2>

							<!-- login form -->
              <form {{action 'authenticate' on='submit'}}>
								<div class="clearfix">

									<!-- Email -->
									<div class="form-group">
                    {{input id='identification' placeholder='Enter Login' value=identification class="form-control" placeholder="Email"}}
										<!-- <input type="text" name="email" class="form-control" placeholder="Email" required=""> -->
									</div>

									<!-- Password -->
									<div class="form-group">
                    {{input id='password' placeholder='Enter Password' type='password' value=password class="form-control" placeholder="Password"}}

										<!-- <input type="password" name="password" class="form-control" placeholder="Password" required=""> -->
									</div>

								</div>

								<div class="row">

									<div class="col-md-6 col-sm-6 col-xs-6">

										<!-- Inform Tip -->
										<div class="form-tip pt-20">
											<a class="no-text-decoration size-13 margin-top-10 block" href="#">Forgot Password?</a>
										</div>

									</div>

									<div class="col-md-6 col-sm-6 col-xs-6 text-right">

										<button type="submit" class="btn btn-primary">OK, LOG IN</button>

									</div>

								</div>

							</form>
							<!-- /login form -->



						</div>
						<!-- /LOGIN -->

					</div>


				</div>
			</section>
