<section class="page-header page-header-xs">
	<div class="container">

		{{#if title}}
			<h1>{{title}}</h1>
		{{/if}}
		{{#if breadcrumbs}}
			<ol class="breadcrumb breadcrumb-inverse">
				{{#each breadcrumbs as |crumb|}}
					{{#if crumb.route}}
						{{#if crumb.param}}
							<li>
								{{#link-to crumb.route crumb.param}}{{crumb.name}}{{/link-to}}
							</li>
						{{else}}
							<li>
								{{#link-to crumb.route}}{{crumb.name}}{{/link-to}}
							</li>
						{{/if}}
					{{else}}
						<li class="active">{{crumb.name}}</li>
					{{/if}}
				{{/each}}
			</ol><!-- /breadcrumbs -->
		{{/if}}
		<!-- breadcrumbs -->
		<!-- <ol class="breadcrumb">
			<li>
				{{#link-to 'home'}}Home{{/link-to}}
			</li>
			<li class="active">{{model.title}}</li>
		</ol> -->
		<!-- /breadcrumbs -->

	</div>
</section>
