<section id="slider" class="fullheight dark" style="height: 300px;">
        <br>
				<div class="display-table">
					<div class="display-table-cell vertical-align-middle">
						<div class="container">

							<div class="row err-404-row">
								<div class="text-center col-md-8 col-xs-12 col-md-offset-2">

									<h1 class="fa fa-frown-o size-100 theme-color hidden-xs"></h1>
									<h2><strong>404 Page Not Found</strong></h2>

								</div>

							</div>

						</div>
					</div>
				</div>

			</section>
