<section id="slider" class="fullheight" style="height: 600px;">
<br>
				<div class="display-table">
					<div class="display-table-cell vertical-align-middle">
						<div class="container">

							<div class="row">
								<div class="text-center col-md-8 col-xs-12 col-md-offset-2">

									<h1 class="fa fa-ban size-80 theme-color hidden-xs"></h1>
									<h2><strong>401 Unauthorized</strong></h2>

									<p>Access is denied due to invalid credentials</p>

								</div>
							</div>

						</div>
					</div>
				</div>

			</section>
