{{#if model.is_active}}
  {{post-form title='Edit post' isReview=true categories=categories item=model action='savePost'}}
{{else}}
  {{post-form title='Edit post' isReview=false categories=categories item=model action='savePost'}}
{{/if}}
