<div class="post-list">
  {{#each sortedList as |item|}}
    <!-- POST ITEM -->
    {{#blog-post post=item session=session}}{{/blog-post}}
    <!-- /POST ITEM -->
  {{else}}
    <div class="callout callout-transparent">
      <div class="">
        <div class="row">
          <div class="col-md-12 text-center">
            <h3>Nice articles will be there soon!</h3>
            <p>I'm working hard to "rich my blog".</p>
          </div>
        </div>
      </div>
    </div>
  {{/each}}
</div>
