<div class="blog-post-item">
  {{#post-show post=model}}
  {{/post-show}}
</div>


<!-- <div class="divider"></div> -->


<!-- <ul class="pager">
  <li class="previous"><a class="noborder" href="#">← Previous Post</a></li>
  <li class="next"><a class="noborder" href="#">Next Post →</a></li>
</ul> -->
<!-- COMMENTS -->
<div id="comments" class="comments">
{{disqus-comments identifier=model.title}}
</div>
<!-- <div id="comments" class="comments">

  <h4 class="page-header size-20 margin-bottom-30 margin-top-40">
									LEAVE A <span>COMMENT</span>
								</h4>

  {{#comment-form owner=model}}{{/comment-form}}

  {{#if model.comments }}
    <h4 class="page-header margin-bottom-60 size-20">
						<span>{{model.comments.length}}</span> COMMENTS
					</h4>
  {{/if}}

  {{#each model.comments as |comment|}}
    {{comment-item comment=comment nested=true}}
  {{/each}}

</div> -->
<!-- /COMMENTS -->
