<section>
  <div id='main-content' class="container">
    <div class="row">
      <!-- CENTER -->
      <div class="col-sm-offset-1 col-md-10 col-sm-10">
        {{outlet}}
      </div>
    </div>
  </div>
</section>
