<section>
  <div id='main-content' class="container">
    <div class="row">
      <!-- LEFT -->
      <div class="col-md-9 col-sm-9">
        {{outlet}}
      </div>
      <!-- RIGHT -->
      <div class="col-md-3 col-sm-3">
        {{outlet 'rightContent'}}
        <!-- {{site-navigation categories=model.categories}} -->

      </div>
    </div>
  </div>
</section>
